.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  position: relative;
  z-index: 3;
}

.header .title {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--whiteFont-color);
}

.todo-form {
  margin-left: auto;
  flex: 1 1 auto;
  margin-right: 3rem;
  display: flex;
  height: 40px;
}

.todo-form input[type='search'] {
  flex: 1;
  min-width: 0;
  padding: 0 1rem;
  margin-right: 10px;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
}
.todo-form input[type='submit'] {
  width: 4em;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
  background: var(--primary-color);
  color: var(--whiteFont-color);
}

#clock {
  text-align: center;
  position: relative;
  z-index: 3;
  font-size: 5rem;
  color: var(--whiteFont-color);
}
